Source: video-dl
Section: misc
Priority: optional
Maintainer: Daniil Gentili <daniil.gentili.dg@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://daniil.it/video-dl
#Vcs-Git: git@github.com:danog/video-dl.git

Package: video-dl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, wget, bash, sed
Description: Video Download script
 This bash script can be used to download videos from any website, including Youtube, Rai.tv, Mediaset, Witty tv and LA7. The API of this script is constantly updated to support even more websites. For more info see the manpages.
